<footer>
    <div class="footer-top">
        <div class="container">
            <div class="footer-col logo">
                <a href="#" class="logo">
                    <img src="../img/logo-3.png">
                </a>
                <p>ТОО «Корпорация СнабСтройКомплект»<br>
                    с 2014 года и занимается поставками<br>
                    кабельно-проводниковой продукции<br>
                    и комплектующих на рынок Республики<br>
                    Казахстан.</p>
            </div>
            <div class="footer-col catalog">
                <h3>Продукция</h3>
                <ul>
                    <li class="active"><a href="#">Кабельно–проводниковая продукция</a></li>
                    <li><a href="#">Металлоконструкции для ЛЭП</a></li>
                    <li><a href="#">Изоляторы</a></li>
                    <li><a href="#">Кабеленесущие системы</a></li>
                    <li><a href="#">Низковольтная аппаратура</a></li>
                    <li><a href="#">Щитовое оборудования</a></li>
                    <li><a href="#">Изделия для монтажа</a></li>
                </ul>
            </div>
            <div class="footer-col contacts">
                <h3>Контакты</h3>
                <div class="col--address">
                    <p>Казахстан, г.Алматы,<br> ул. Физули 64</p>
                </div>
                <div class="col--phone">
                    <a href="#">7 (727) 257 09 14</a>
                    <a href="#">7 (727) 257 09 14</a>
                    <a href="#">7 (727) 257 09 14</a>
                    <a href="#">7 (727) 257 09 14</a>
                </div>
                <div class="col--whatsapp">
                    <a href="#">7 (727) 257 09 14</a>
                </div>
                <a href="#" class="col--email">info@ruazdent.kz</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>Copyright © 2019 ТОО «RUAZ-DENT». All Rights Reserved </p>
            <a href="https://artmedia.kz" target="_blank" class="artmedia">Создание сайта - <img src="../img/artmedia.png"></a>
        </div>
    </div>
</footer>