<header>
    <a href="#" class="nav--btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <a href="#" class="phone--btn"></a>
    <div class="container">
        <a href="index.html" class="logo">
            <img src="../img/logo.png" alt="logo">
        </a>
        <div class="right">
            <div class="top">
                <p>ТОО «Корпорация СнабСтройКомплект» с 2014 года и занимается<br>
                    поставками кабельно-проводниковой продукции и комплектующих<br>
                    на рынок Республики Казахстан.</p>
                <a href="#" class="search--btn"></a>
                <form class="search">
                    <input type="search" placeholder="Поиск по сайту...">
                    <a href="#" class="close-btn"></a>
                </form>
                <div class="h-contacts">
                    <a href="#" class="whatsapp"></a>
                    <div class="col--phone">
                        <a href="#">+7 (727) <strong>257 09 14</strong></a>
                        <a href="#" class="more--btn"></a>
                        <ul>
                            <li><a href="#">+7 (727) 257 09 14</a></li>
                            <li><a href="#">+7 (727) 257 09 14</a></li>
                            <li><a href="#">+7 (727) 257 09 14</a></li>
                        </ul>
                    </div>
                    <a href="#" class="col--email">info@ruazdent.kz</a>
                </div>
            </div>
            <div class="bottom">
                <ul class="nav">
                    <li class="active"><a href="about.html">о компании </a></li>
                    <li><a href="cat.html">продукция</a></li>
                    <li><a href="#"> Прайс-лист </a></li>
                    <li><a href="#">Партнеры </a></li>
                    <li><a href="#">Оплата и доставка </a></li>
                    <li><a href="contacts.html">контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>